@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'light';
	src: url('./constants/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'semiBold';
	src: url('./constants/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'bold';
	src: url('./constants/fonts/Pretendard-Bold.woff') format('woff');
}

@layer utilities {
	.flex-template {
		@apply flex items-center justify-center;
	}

	.flex-col-template {
		@apply flex flex-col items-center justify-center h-full w-full;
	}
}

.App {
	font-family: 'semiBold';
	width: 100%;
	height: 100vh;
}
